*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    block-size: 100%;
}
.page {
    display: flex;
    align-items: center;
    margin: auto;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style: none;
}
/* РЅР°С‡Р°Р»Рѕ СЂР°Р·РјРµС‚РєРё */
.content {
    display: flex;
    align-items: end;
    column-gap: 30px;
    width: 1140px;
    margin: auto;
}
.search-form {
    display: flex;
    gap: 15px;
}
.content {
    display: flex;
    align-items: end;
    column-gap: 30px;
    width: 1140px;
    margin: auto;
}
.card-list-item-template {
    display: flex;
}
.content__video-card {
    display: flex;
    justify-content: space-between;
}
.content__video-card-thumbnail {
    width: 50px;
    height: 50px;
}
.content__video-card {
    display: flex;
    justify-content: space-between;
}
.content__video-card-title {
    padding: 2px 2px 5px;
    color: #fff;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    hyphens: auto;
}
.content__video-card-description {
    padding: 0 2px;
    color: #fff;
    font-weight: 400;
    line-height: 16.2px;
}
.content__video-card-thumbnail {
    inline-size: 194px;
    block-size: 103px;
    object-fit: cover;
    object-position: center;
}
