*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style: none;
}

.page {
    display: flex;
    align-items: center;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
    inline-size: 1100px;
    block-size: 100%;
  }
  
  video {
    width: 100%;
  }

  .content {
    display: flex;
    gap: 30px;
    margin: 0 30px;
    inline-size: 100%;
  }
  
  .result {
    align-self: flex-end;
  }

  .search-form {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .content__list {
    position: relative;
    overflow-y: scroll;
    block-size: 150px;
    scrollbar-width: none;
  }

  .content__details {
    inline-size: 100%;
  }

  .result__video-container {
    position: relative;
    inline-size: 711px;
    margin: 0 0 11px;
  }

  .content__list {
    position: relative;
    overflow-y: scroll;
    block-size: 298px;
    scrollbar-width: none;
  }

  .content__video-card {
    display: flex;
    justify-content: space-between;
  }
  
  .content__video-card-thumbnail {
    width: 194px;
    height: 103px;
  }